<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--
    testng.xml tells TestNG which test classes to run.
    Here we are pointing it at our TestRunner class.
-->
<suite name="Language and Skills Test Suite" verbose="1">
    <test name="All Tests">
        <classes>
            <class name="runners.TestRunner"/>
        </classes>
    </test>
</suite>
